<%- include('./partials/header') %>
<body class="wrapper d-flex flex-column min-vh-100">
  <%- include('./partials/navbar') %>  
  <div class="container-fluid">
    <br class="flex-fill">
      <br class="mt-5 justify-content-center">
      <div class="row">
        <div class="col-md-4">
          <div class="image-container">
              <img src="images/DSCF0055.JPG" alt="Image of Me" class="img-fluid rounded-circle">
          </div>
        </div>
        <div class="col-md-8">
          <h1>My Name is Jacob.</h1>
          <p>Welcome to my portfolio! I am a self driven and insatiably curious computer scientist that loves listening to music, practicing photography, and powerlifting!
            Here is my proud collection of my technical expertise alongside my personal interests that I would love to share with you.
            Thank you for visiting and enjoy your stay!
          </p>
          <a href="/projects" class="btn btn-primary">View My Work</a>
        </div>
      </div>
      
      

        <div class="container card mt-4">
          <div class="card-body">
            <h3>Highlight</h3>
            <h6 class="card-subtitle mb-2 text-muted">Gator Garage</h6>
            <p class="card-text">Lead backend engineer for senior capstone project. Caters to the SFSU campus by providing ecommerce services to students, staff, and faculty.</p>
            <a href="https://gatorgarage.net" target="_blank" class="card-link">View Website</a>
          </div>
        </div>
        <div class="container mt-5">
          <!-- Education Section -->
          <section id="education" class="mt-3 education-section">
              <h2>Education</h2>
              <div class="card mb-3">
                <img src="images/sfsuLogo.png" alt="SFSU Logo" class="education-logo">
                  <div class="card-body">
                      <h4 class="card-title">San Francisco State University</h4>
                      <h5 class="card-subtitle mb-2 text-muted">Bachelors in Computer Science</h5>
                      <p class="card-text">
                          Graduated in May 2024 with a GPA of 3.41. My studies included a wide range of subjects such as software development, algorithms, data structures, computer networks, databases, and computer graphics. During my time at SFSU, I gained a solid foundation in computer science principles and hands-on experience with various programming languages and technologies.
                      </p>
                  </div>
              </div>
          </section>
        </div>
      <br></br>
        <section id="skills" class="card-body d-flex flex-column align-items-center">
          <h3 class="text-center">
            <small class="text-body-secondary">Notable</small>
            Skills
          </h3>
          <%- include('./partials/skills') %>
        </section>
    </main>
  </div>
  <%- include('./partials/chatBox') %>
  <%- include('./partials/footer') %> 
</body>
</html>